h5{
    text-align: center;
}

.tv_h1{
    width: 600px;
    background-color: rgb(206, 215, 223);
    color: #121111;
    font-size: 36px;
    margin: 20px;
    padding: 5px;
}

.tv_div{
    font-size: 20px;
    margin: 50px;
    padding-left: 20px;
}