h5{
    text-align: center;
}

.tv_h1{
    background-color: rgb(206, 215, 223);
    color: #121111;
    font-size: 36px;
    font-weight: bold;
    margin: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.tv_div{
    font-size: 20px;
    margin: 50px;
    padding-left: 20px;
}

iframe{
    width: 100%;
    height: 100%;
}

.character{
    margin-left: 50px;
    margin-right: 50px;
}

img{
    display: block;
    margin: auto;
    height: 50rem ;
}

video{
    display: block;
    margin: auto;
}

nav a{
    color:inherit;
    text-decoration: none;
    font-size: 1.5rem;
    color:black!important;
}

nav a:hover{
    background-color: gold;
    color:black;
}

nav > li{
    list-style: none;
    background-color: black !important;
    margin:0;
    padding: 0;
}

.title{
    size: 5;
}

.navbar-brand{
    font-size: 2rem !important;
    font-weight: bold;
}

.dropdown{
    color:inherit;
    text-decoration: none;
    font-size: 1.5rem;
    color:black !important;
}

.song{
    background:rgba(255,255,255,0.9);
    margin-top: 2rem;
    padding: 2rem;
}

.nav-title{
    background:rgba(255,255,255,0.9);
    margin-bottom: 2rem;
}